*{

    box-sizing: border-box;

}

body{

	margin: auto;
	padding: 2em;
    background: #008080; 
h1{
    }
    text-center
    color: black; 

   }

.row{

	padding: 1rem;
    }

.barra{

	background-color: ##008080 ;
    }

.cajaBorde {
    background-color:##008080 ;
	border-style:;
    border-color: ;
    height: 30VH;
}


 .logo 
{ width: :5px;
  height:5px;  
     }
